################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/LockKeyboard/bin
/LockKeyboard/obj
/LockKeyboard/Properties/PublishProfiles/FolderProfile.pubxml.user
/LockKeyboard/LockKeyboard.csproj.user
/LockKeyboard/MainForm.resx
